@model Garage2._0.Models.Vehicle

@{
    ViewData["Title"] = "UnParkResponse";
}

<h1>You have now unparked your vehicle successfully! Do you want a receipt?</h1>

<div>
    <a asp-action="Overview">Back to Overview</a>
</div>
