@*@model Garage2._0.Models.Vehicle*@

@{
    ViewData["Title"] = "UnParkResponse";
}

<h1>You have now unparked your vehicle successfully! Do you want a receipt?</h1>
<p>You "@ViewBag.id" @*@Model.Id*@ left the garage at @ViewBag.departureTime</p>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Receipt(@ViewBag.id,@ViewBag.departureTime)">Yes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Overview">No</a>
        </li>
    </ul>
</div>
<div>
    <a asp-controller="Vehicles" asp-action="Receipt(@ViewBag.id,@ViewBag.departureTime)">Yes I want a receipt</a>
</div>
<div>
    <a asp-action="Overview">Back to Overview</a>
</div>
